<%- include("partials/header") %>
    
        <div class="lyric-container">
            <div class="lyric-heading"></div>
            <h1 class="artist-heading"><%= artist %></h1>
            <h2 class="title-heading" ><%= songTitle %></h2>
        </div>
            <div class="song-lyrics">
            <p>
                <%= songLyrics %>
            </p>
        </div>
        </div>
    
        
    
<%- include("partials/footer") %>